.card-vertical {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: var(--card-bg-blue);
}

.card-content {
  padding: 2rem;
}

.card-vertical img {
  border-radius: 1.5rem;
}

.tags-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px rgba(255, 255, 255, 0.2) solid;
  padding-top: 24px;
  margin-top: 48px;
}

.fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fav p {
  cursor: pointer;
}
