.home_title {
  min-height: 36.4375rem;
  background-image: url(../../../public/img/League-of-Legends-Guide-fuer-Anfaenger\ 1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 6rem;
}
.home_title h1 {
  width: 20ch;
  padding-top: 20.625rem;
  padding-left: 5rem;
}
.home-wrapper {
  padding-inline: 2vw;
}
