.all-games {
  padding-top: 6.25rem;
  padding-inline: 3vw;
  margin-bottom: 9rem;
}

.allgames-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.single-cards {
  width: 18.75rem;
}

/* : search suggestions */

.suggestion {
  position: fixed;
  right: 1.25rem;
  top: 3.125rem;
  overflow-y: scroll;
  height: 18.75rem;
  width: 18.75rem;
  background-color: var(--card-bg-blue);
}

.suggestion-items {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0.75rem 0.3125rem;
  background-color: var(--darkBlue);
  border-radius: 12px;
}

.suggestion-items img {
  max-width: 3.125rem;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin: 1.25rem;
}
