.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  padding: 12px 2vw;
  padding-left: 60px;
  position: fixed;
  right: 0;
}

.searchbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.searchbar div h2 {
  text-transform: uppercase;
}

#search {
  border-radius: 12px;
  padding: 13px 20px;
  width: 277px;
  border-style: none;
  background-color: var(--darkBlue);
  color: var(--font-white);
}

#search:focus {
  outline: none;
}

.user-input {
  position: relative;
}

.user-input svg {
  position: absolute;
  right: 10px;
}

.slide {
  margin-left: 260px;
}
