.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  padding: 0.75rem 2vw;
  padding-left: 3.75rem;
  position: fixed;
  right: 0;
}

.searchbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.searchbar div h2 {
  text-transform: uppercase;
}

.logo-text {
  font-size: 1.5rem;
  font-family: Oswald, Arial;
  font-weight: 800;
}

#search {
  border-radius: 12px;
  padding: 0.8125rem 1.25rem;
  width: 17.3125rem;
  border-style: none;
  background-color: var(--darkBlue);
  color: var(--font-white);
}

#search:focus {
  outline: none;
}

.user-input {
  position: relative;
}

.user-input svg {
  position: absolute;
  right: 0.625rem;
}

.slide {
  margin-left: 16.25rem;
}
