.recently-component-content {
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.recently-component {
  display: flex;
  flex-direction: column;
}
.recently-component h2 {
  margin-bottom: 3rem;
}
