.recently-component-content {
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 1.5rem;
}

.recently-component {
  display: flex;
  flex-direction: column;
}
.recently-component h2 {
  margin-bottom: 3rem;
}

.recently-component .recently-component-content .card-content > p:first-of-type {
  color: var(--lightBlue);
  padding-top: 1rem;
  font-weight: 300;
  
}
.recently-component .recently-component-content {
  min-height: 520px;
}
