.rank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black);
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 3rem;
  border: 1px solid var(--accent-color-magenta);
}
