.card-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card-bg-blue);
  border-radius: 1.5rem;
  overflow: hidden;
  height: 24vh;
}

.card-horizontal-rank-wrapper {
  position: relative;
  top: -39%;
  left: -48.5%;
}

.card-horizontal-content {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}

.card-horizontal img {
  border-radius: 1.5rem;
  height: 100%;
  max-width: 50%;
  object-fit: cover;
  object-position: center;
}

.card-horizontal-tags-flex {
  display: flex;
  flex-wrap: wrap;
}

.card-horizontal-tags-flex a {
  font-size: 1rem;
  font-family: Oswald, Arial;
  border: 1px solid var(--accent-color-magenta);
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 0.9375rem;
  text-transform: capitalize;
  margin-right: 0.4rem;
}
