.navbar {
  background-color: var(--bg-black);
  height: 100vh;
  /* border-right: 2px solid rgba(255, 255, 255, 0.2); */
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar svg {
  cursor: pointer;
}

/*:Buttons Burger and X */
.burger {
  position: absolute;
  top: 0;
  left: 0px;
}

.exit {
  position: absolute;
  top: 0px;
  right: -200px;
}

/* :Home Games Recently Icons */

nav {
  padding: 10px;
}

.active svg {
  cursor: pointer;
  background-color: var(--accent-color-magenta);
  border-radius: 15px;
}

.active p {
  background-color: var(--accent-color-magenta);
  border-radius: 15px;
}

.navleiste {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* :Hide and Show when clicked */
.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  width: 260px;
}
